body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/*header part start*/
.header-area {
    background-image: url(../img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px 0px 70px 0px;
    height: 100vh;
}

/*its for toggler part*/
.navbar-toggler {
    padding: .25rem .50rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: none;
    color: #faf2f2 !important;
    margin-top: 5px;
    border: 1.5px solid #ecebeb !important;
}

.navbar {
    position: relative;
    display: inline;
    padding: .5rem 1rem;
    float: right;
}

/*its for menu list part*/
.menu {
    margin-top: 30px;
    padding-right: 15px;
    padding-left: 88%;
}

.menu ul li {
    background-color: #f1e9e9 !important;
    background-size: 10%;
}

.menu a {
    margin-right: 20px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #ff2b4a !important;
}

/* its for header-content start*/
.header-area h2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 65px;
    color: #ffffff;
    text-transform: uppercase;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    padding: 10px 0px;
}

.header-area p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    margin-top: 5px;
}

.header-content {
    padding-top: 30%;
    margin-left: 361px;
}

/*header-part end*/
/*about part start*/
.about-part {
    padding: 50px 0px;
}

/* its for about content part*/
.content-area {
    margin-left: 30px;
}

.about-part h4 {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 700;
    color: #5f5f5f !important;
    margin-bottom: 30px;
}

.about-part p {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
    width: 110%;
    margin-bottom: 30px;
}

/*its for btn custom1*/
.btn-custom1 {
    background-color: #ff2b4a;
    padding: 8px 45px;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

/*about part end*/
/*working-process start*/
.working-process {
    background-color: #f6f6f6;
    padding: 90px;
}

/*its for process-content part*/
.process-content h2 {
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: 700;
    columns: #000000;
    margin-bottom: 20px;
}

.process-content p {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: #636161;
}

.process-content {
    margin-bottom: 70px;
}

/*its for categories-image1 part*/
.categories-image1 {
    background-image: url(../img/itme01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px 90px;
}

.categories-image1 h5 {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 30px;
}

/*its for categories-image2 part*/
.categories-image2 {
    background-image: url(../img/itme02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px 90px;
}

.categories-image2 h5 {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 30px;
    margin-left: -19px;
}

/*its for categories-image3 part*/
.categories-image3 {
    background-image: url(../img/itme03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px 90px;
}

.categories-image3 h5 {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 30px;
}

/*its for categories-image4 part*/
.categories-image4 {
    background-image: url(../img/itme04.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px 90px;
}

.categories-image4 h5 {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 30px;
}

/*working-process end*/
/*experience-part start*/
.experience-part {
    background-image: linear-gradient(#4c869b, #736a77);
    padding: 90px;
}

/*its for work-experience-part*/
.work-experience {
    background-color: #62657d;
    padding: 50px 30px;
    margin-left: 70px;
    margin-right: 20px;


}

/*its for work-experience1-part*/
.work-experience1 {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 50px;
}

.work-experience1 h3 {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 40px;
}

.work-experience1 h4 {
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 12px;
}

.work-experience1 h5 {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    color: #ebe3e3;
    margin-bottom: 12px;
}

.work-experience1 p {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    color: #dad4d4;
    width: 100%;
    margin-bottom: 40px;
}

/*its for work-experience2-part*/
.work-experience2 h4 {
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 12px;
}

.work-experience2 h5 {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    color: #ebe3e3;
    margin-bottom: 12px;
}

.work-experience2 p {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    color: #dad4d4;
    width: 100%;
    margin-bottom: 12px;
}

/*its for education-part*/
.education {
    background-color: #62657d;
    padding: 50px 30px;
    margin-left: 20px;
}

/*its for education1-part*/
.education1 {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 50px;
}

.education1 h3 {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 40px;
}

.education1 h4 {
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 12px;
}

.education1 h5 {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    color: #ebe3e3;
    margin-bottom: 12px;
}

.education1 p {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    color: #dad4d4;
    width: 100%;
    margin-bottom: 40px;
}

/*its for education2-part*/
.education2 h4 {
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 12px;
}

.education2 h5 {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    color: #ebe3e3;
    margin-bottom: 12px;
}

.education2 p {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    color: #dad4d4;
    width: 100%;
    margin-bottom: 12px;
}

/*experience-part end*/
/*latest-works part start*/
.latest-works {
    padding: 70px 0px;
}

.latest-works-content {
    margin-bottom: 50px;
}

.latest-works-content h2 {
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: 700;
    columns: #000000;
    margin-bottom: 20px;
}

.latest-works-content p {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    color: #636161;
}

.part-1 {
    margin-bottom: 30px;
}

/*latest-works part end*/
/*testimonial-part start*/
.testimonial-part {
    background-color: #64cbc0;
    padding: 70px;
}

.testimonial-image {
    margin-right: 10px;
    float: right;
}

.testimonial-content i {
    font-size: 40px;
    color: #1d6274 !important;
}

.testimonial-content p {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
    width: 63%;
    margin-top: 25px;
    margin-bottom: 40px;
}

.testimonial-content img {
    width: 136px;
}

.testimonial-content h3 {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 700;
    margin-top: 25px;
    color: #0a4c5c !important;
}

.testimonial-content h5 {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    color: #404242 !important;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-bottom: -239px;
}

/*testimonial-part end*/
/*contact-part start*/
.contact-part {
    background-image: linear-gradient(#4c869b, #736a77);
    padding: 90px;
}

/*its for contact-left part start*/
.contact-left {
    background-color: #62657d;
    padding: 30px 30px 100px 30px;
    margin-right: 2px;
    margin-left: 5px;
}

.contact-left h3 {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.background-color .form-group {
    background-color: none;

}

.form-control {
    border: 1px solid #cac8c8;
    background: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #ffffff;
}

.form-control:hover {
    border: 1px solid #cac8c8;
    background: none;
    padding: 5px 10px;
    cursor: pointer;
}

.contact-btn {
    background-color: #ff2b4a;
    padding: 6px 45px;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    float: right;
}

/*its for contact-left part end*/
/*contact-right part start*/
/*its for address part*/
.address {
    background-color: #62657d;
    padding: 20px;
}

.address-part h2 {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    color: #ffffff;
    margin: 20px 15px;
}

.address-part p {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    width: 198%;
    margin: 20px 15px;
}

/*its for phone part*/
.phone {
    background-color: #62657d;
    padding: 20px;
    margin-top: 20px;
}

.phone-part h2 {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    color: #ffffff;
    margin: 20px 15px;
}

.phone-part ul li {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    margin-left: 15px;
    margin-top: 5px;
}

/*its for web part*/
.web {
    background-color: #62657d;
    padding: 20px;
    margin-top: 20px;
}

.web-part h2 {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    color: #ffffff;
    margin: 20px 15px;
}

.web-part ul li {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    margin-left: 15px;
    margin-top: 5px;
}

/*contact-right part end*/
/*contact-part end*/
/*footer-part start*/
.footer-part {
    background-color: #000000;
    padding: 40px 0px;
}

.footer-part p {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    color: #8a8484;
    margin-top: 5px;
}

.footer-part .item {
    border-right: 1px solid #ffffff;
    padding-right: 20px;
}
/*footer-part end*/

/*font-family: 'Raleway', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/